<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Fllup make follow up easy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <link rel="stylesheet" href="app/account/login/login.css">
      <link rel="stylesheet" href="app/account/profile/profile.css">
      <link rel="stylesheet" href="app/admin/admin.css">
      <link rel="stylesheet" href="app/app.css">
      <link rel="stylesheet" href="app/feed/feed.css">
      <link rel="stylesheet" href="app/main/main.css">
      <link rel="stylesheet" href="assets/_plugins/boostrapv3/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/_plugins/codrops-stepsform/css/component.css">
      <link rel="stylesheet" href="assets/css/pages-icons.css">
      <link rel="stylesheet" href="assets/css/pages.css">
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="fllup" class="fixed-header">
    <!--[if lt IE 7]>
      <!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
    <![endif]-->




    <!-- Add your site or application content here -->
    <ui-view ng-if="app.navbar.visible==false"></ui-view>
    <div ui-view="" ng-class="{'page-container full-height' : app.navbar.visible==true}" ng-if="app.navbar.visible==true"></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-translate/angular-translate.js"></script>
      <script src="bower_components/ngstorage/ngStorage.js"></script>
      <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
      <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
      <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-socket-io/socket.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <!-- endbower -->
      <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->
    <script src="assets/libs/bootstrap.min.js"></script>
    <script src="assets/libs/modernizr.custom.js"></script>
    <script src="http://pages.revox.io/latest/pages/js/pages.min.js"></script>
        <!-- build:js({.tmp,client}) app/app.js -->
        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/API/API.service.js"></script>
          <script src="app/account/account.js"></script>
          <script src="app/account/login/login.controller.js"></script>
          <script src="app/account/profile/profile.controller.js"></script>
          <script src="app/account/profile/profile.js"></script>
          <script src="app/account/settings/settings.controller.js"></script>
          <script src="app/account/signup/signup.controller.js"></script>
          <script src="app/admin/admin.controller.js"></script>
          <script src="app/admin/admin.js"></script>
          <script src="app/feed/feed.controller.js"></script>
          <script src="app/feed/feed.js"></script>
          <script src="app/main/main.controller.js"></script>
          <script src="app/main/main.js"></script>
          <script src="components/auth/auth.service.js"></script>
          <script src="components/auth/user.service.js"></script>
          <script src="components/mongoose-error/mongoose-error.directive.js"></script>
          <script src="components/navbar/navbar.controller.js"></script>
          <script src="components/socket/socket.service.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
</body>



</html>

