.btn-facebook {
  color: #fff!important;
  background-color: #3B5998!important;
  border-color: #133783!important;
}

.btn-twitter {
  color: #fff!important;
  background-color: #2daddc!important;
  border-color: #0271bf!important;
}

.btn-google-plus {
  color: #fff!important;
  background-color: #dd4b39!important;
  border-color: #c53727!important;
}

.btn-github {
  color: #fff!important;
  background-color: #fafafa!important;
  border-color: #ccc!important;
}
