<!--<div ng-include="'components/navbar/navbar.html'"></div>-->



<div class="login-wrapper ">

  <div class="bg-pic">

    <img src="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src-retina="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">


    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
        Pages make it easy to enjoy what matters the most in the life</h2>
      <p class="small">
        images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
      </p>
    </div>

  </div>


  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
      <p class="p-t-35">Sign into your pages account</p>

      <form id="form-login" class="p-t-15" role="form" name="form" ng-submit="login(form)" novalidate="novalidate">

        <div class="form-group has-error">
          <p  id="username-error" class="help-block error" ng-show="form.email.$error.required && form.password.$error.required && submitted" for="password">
          Please enter your email and password.
          </p>
          <p id="password-error" class="help-block error" ng-show="form.email.$error.email && submitted" for="username">
          Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div class="form-group form-group-default">
          <label>Login</label>
          <div class="controls">
            <input type="text" name="email" placeholder="User Name" class="form-control" required="" aria-required="true" ng-model="user.email" required>
          </div>
        </div>


        <div class="form-group form-group-default">
          <label>Password</label>
          <div class="controls">
            <input type="password" class="form-control" name="password" placeholder="Credentials" required="" aria-required="true"  ng-model="user.password" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 no-padding">
            <div class="checkbox ">
              <input type="checkbox" value="1" id="checkbox1">
              <label for="checkbox1">Keep Me Signed in</label>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <a href="#" class="text-info small">Help? Contact Support</a>
          </div>
        </div>


        <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>

      </form>

      <br>
      <button class="btn btn-facebook btn-cons m-t-10" type="submit" ng-click="loginOauth('facebook')">Connect with Facebook</button>
      <br>
      <button class="btn btn-google-plus btn-cons m-t-10" type="submit" ng-click="loginOauth('google')">Connect with Google+</button>
      <br>
      <button class="btn btn-twitter btn-cons m-t-10" type="submit" ng-click="loginOauth('twitter')">Connect with Twitter</button>
      <br>
      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
          <div class="col-sm-3 col-md-2 no-padding">
            <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60">
          </div>
          <div class="col-sm-9 no-padding m-t-10">
            <p><small>
              Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a></small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
      <!--<h1>Login</h1>-->
      <!--<p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>-->
      <!--<p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>-->
    <!--</div>-->
    <!--<div class="col-sm-12">-->
      <!--<form class="form" name="form" ng-submit="login(form)" novalidate>-->

        <!--<div class="form-group">-->
          <!--<label>Email</label>-->

          <!--<input type="email" name="email" class="form-control" ng-model="user.email" required>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<label>Password</label>-->

          <!--<input type="password" name="password" class="form-control" ng-model="user.password" required>-->
        <!--</div>-->

        <!--<div class="form-group has-error">-->
          <!--<p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">-->
             <!--Please enter your email and password.-->
          <!--</p>-->
          <!--<p class="help-block" ng-show="form.email.$error.email && submitted">-->
             <!--Please enter a valid email.-->
          <!--</p>-->

          <!--<p class="help-block">{{ errors.other }}</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<button class="btn btn-inverse btn-lg btn-login" type="submit">-->
            <!--Login-->
          <!--</button>-->
          <!--<a class="btn btn-default btn-lg btn-register" href="/signup">-->
            <!--Register-->
          <!--</a>-->
        <!--</div>-->

        <!--<hr>-->
        <!--<div>-->
          <!--<a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">-->
            <!--<i class="fa fa-facebook"></i> Connect with Facebook-->
          <!--</a>-->
          <!--<a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">-->
            <!--<i class="fa fa-google-plus"></i> Connect with Google+-->
          <!--</a>-->
          <!--<a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">-->
            <!--<i class="fa fa-twitter"></i> Connect with Twitter-->
          <!--</a>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
  <!--<hr>-->
<!--</div>-->
