<div class="container-fluid full-height no-padding">
  <div class="row full-height no-margin">
    <div class="col-md-4 no-padding b-white full-height">
      <div class="bg-white full-height">

        <div class="email-wrapper">
          <div class="email-list b-r b-grey"> <a class="email-refresh" href="email.html#"><i class="fa fa-refresh"></i></a>
            <div id="list1" class="list-view">
              <h2 class="list-view-fake-header" translate="index.wall.labels.best"></h2>
              <div class="list-view-wrapper" data-ios="false">
                <div class="list-view-group-container">
                  <div class="list-view-group-header">
                    <span>Today April 23</span>
                  </div>
                  <ul class="no-padding">
                    <li class="item padding-15" data-email-id="1" ng-repeat="item in posts">
                      <div class="thumbnail-wrapper d32 circular bordered b-danger">
                        <img width="40" height="40" alt="" data-src-retina="assets/img/profiles/avatar2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar2x.jpg">
                      </div>
                      <div class="checkbox  no-margin p-l-10">
                        <input type="checkbox" value="1" id="emailcheckbox-0-0">
                        <label for="emailcheckbox-0-0"></label>
                      </div>
                      <div class="inline m-l-15">
                        <p class="recipients no-margin hint-text small"><a href="#">David Nester,Jane Smith</a></p>
                        <p class="subject no-margin">Pages - Multi-Purpose Admin Template Revolution Begins here!</p>
                        <p class="body no-margin">Dear Sir or blablablablablablabla
                        </p>
                      </div>

                      <div class="datetime">5 Mins ago</div>
                      <div class="clearfix"></div>


                      <div class="controls" style="">
                        <a href="#" class="like"><i class="fa fa-heart-o"></i> Like</a>
                        &nbsp;·&nbsp;
                        <a href="#" class="like" ng-click="commentToggle(do_comment)"><i class="fa fa-comment text-muted"></i> Comment</a>
                        &nbsp;·&nbsp;
                        <a href="#" class="like"><i class="fa fa-star text-warning"></i> Favorite</a>

                      </div>


                      <div ng-show="do_comment" class="col-sm-12">
                        <div class="col-sm-12">
                          <textarea class="form-control" id="name" placeholder="Comment" aria-invalid="false" style="margin: 0px 41.2326393127441px 0px 0px; width: 100%; height: 51px;"></textarea>
                        </div>
                        <div class="col-sm-12" style="padding-top: 10px">
                          <button class="btn btn-success" type="submit">Share</button>
                        </div>
                      </div>



                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4 no-padding b-white full-height">
      <div class="bg-white full-height">

        <div class="email-wrapper">
          <div class="email-list b-r b-grey">
            <a class="email-refresh" href="email.html#"><i class="fa fa-refresh"></i></a>
            <div id="lis2" class="list-view">
              <h2 class="list-view-fake-header" translate="index.wall.labels.recent"></h2>
              <div class="list-view-wrapper" data-ios="false">
                <div class="list-view-group-container">
                  <div class="list-view-group-header">
                    <span>Today April 23</span>
                  </div>
                  <ul class="no-padding">
                    <li class="item padding-15" data-email-id="1" ng-repeat="item in posts">
                      <div class="thumbnail-wrapper d32 circular bordered b-danger">
                        <img width="40" height="40" alt="" data-src-retina="assets/img/profiles/avatar2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar2x.jpg">
                      </div>
                      <div class="checkbox  no-margin p-l-10">
                        <input type="checkbox" value="1" id="emailcheckbox-0-0">
                        <label for="emailcheckbox-0-0"></label>
                      </div>
                      <div class="inline m-l-15">
                        <p class="recipients no-margin hint-text small"><a href="#">David Nester,Jane Smith</a></p>
                        <p class="subject no-margin">Pages - Multi-Purpose Admin Template Revolution Begins here!</p>
                        <p class="body no-margin">Dear Sir or blablablablablablabla
                        </p>
                      </div>

                      <div class="datetime">5 Mins ago</div>
                      <div class="clearfix"></div>


                      <div class="controls" style="">
                        <a href="#" class="like"><i class="fa fa-heart-o"></i> Like</a>
                        &nbsp;·&nbsp;
                        <a href="#" class="like" ng-click="commentToggle(do_comment)"><i class="fa fa-comment-o"></i> Comment</a>
                        &nbsp;·&nbsp;
                        <a href="#" class="like"><i class="fa fa-star text-warning"></i> Favorite</a>

                      </div>


                      <div ng-show="do_comment">
                        <div class="col-sm-12">
                          <textarea class="form-control" id="name" placeholder="Comment" aria-invalid="false" style="margin: 0px 41.2326393127441px 0px 0px; width: 100%; height: 51px;"></textarea>
                        </div>
                        <div class="col-sm-12" style="padding-top: 10px">
                          <button class="btn btn-success" type="submit">Share</button>
                        </div>
                      </div>



                    </li>

                  </ul>
                </div>
              </div>



            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-md-4 no-padding full-height">
      <div class="bg-white full-height">

        <div class="email-wrapper">
          <div class="email-list b-r b-grey"> <a class="email-refresh" href="email.html#"><i class="fa fa-refresh"></i></a>
            <div id="list3" class="list-view"><h2 class="list-view-fake-header" translate="index.wall.labels.news"></h2>
              <div class="list-view-wrapper" data-ios="false">
                <div class="list-view-group-container">
                  <div class="list-view-group-header">
                    <span>Today April 23</span>
                  </div>
                  <ul class="no-padding">
                    <li class="item padding-15" data-email-id="1" ng-repeat="item in posts">
                      <div class="thumbnail-wrapper d32 circular bordered b-danger">
                        <img width="40" height="40" alt="" data-src-retina="assets/img/profiles/avatar2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar2x.jpg">
                      </div>
                      <div class="checkbox  no-margin p-l-10">
                        <input type="checkbox" value="1" id="emailcheckbox-0-0">
                        <label for="emailcheckbox-0-0"></label>
                      </div>
                      <div class="inline m-l-15">
                        <p class="recipients no-margin hint-text small"><a href="#">David Nester,Jane Smith</a></p>
                        <p class="subject no-margin">Pages - Multi-Purpose Admin Template Revolution Begins here!</p>
                        <p class="body no-margin">Dear Sir or blablablablablablabla
                        </p>
                      </div>

                      <div class="datetime">5 Mins ago</div>
                      <div class="clearfix"></div>


                      <div class="controls" style="">
                        <a href="#" class="like" translate="buttons.actions.like"></a>
                        &nbsp;·&nbsp;
                        <a href="#" class="like" ng-click="commentToggle(do_comment)" translate="buttons.actions.comment"> </a>
                        &nbsp;·&nbsp;
                        <a href="#" class="like" translate="buttons.actions.favorite_hated"> </a>

                      </div>


                      <div ng-show="do_comment">
                        <div class="col-sm-12">
                          <textarea class="form-control" id="name" placeholder="Comment" aria-invalid="false" style="margin: 0px 41.2326393127441px 0px 0px; width: 100%; height: 51px;"></textarea>
                        </div>
                        <div class="col-sm-12" style="padding-top: 10px">
                          <button class="btn btn-success" type="submit">Share</button>
                        </div>
                      </div>


                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
