<div id="quickview" class="quickview-wrapper open" data-pages="quickview">

<ul class="nav nav-tabs">
  <li class="">
    <a href="social.html#quickview-notes" data-toggle="tab">Notes</a>
  </li>
  <li>
    <a href="social.html#quickview-alerts" data-toggle="tab">Alerts</a>
  </li>
  <li class="active">
    <a href="social.html#quickview-chat" data-toggle="tab">Chat</a>
  </li>
</ul>
<a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>

<div class="tab-content">

<div class="tab-pane fade  in no-padding" id="quickview-notes">
  <div class="view-port clearfix quickview-notes" id="note-views">

    <div class="view list" id="quick-note-list">
      <div class="toolbar clearfix">
        <ul class="pull-right ">
          <li>
            <a href="social.html#" class="delete-note-link"><i class="fa fa-trash-o"></i></a>
          </li>
          <li>
            <a href="social.html#" class="new-note-link" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="fa fa-plus"></i></a>
          </li>
        </ul>
        <button class="btn-remove-notes btn btn-xs btn-block hide"><i class="fa fa-times"></i> Delete</button>
      </div>
      <ul>

        <li data-noteid="1" data-navigate="view" data-view-port="#note-views" data-view-animation="push">
          <div class="left">

            <div class="checkbox check-warning no-margin">
              <input id="qncheckbox1" type="checkbox" value="1">
              <label for="qncheckbox1"></label>
            </div>


            <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

          </div>

          <div class="right pull-right">

            <span class="date">12/12/14</span>
            <a href="social.html#"><i class="fa fa-chevron-right"></i></a>

          </div>

        </li>


        <li data-noteid="2" data-navigate="view" data-view-port="#note-views" data-view-animation="push">
          <div class="left">

            <div class="checkbox check-warning no-margin">
              <input id="qncheckbox2" type="checkbox" value="1">
              <label for="qncheckbox2"></label>
            </div>


            <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

          </div>

          <div class="right pull-right">

            <span class="date">12/12/14</span>
            <a href="social.html#"><i class="fa fa-chevron-right"></i></a>

          </div>

        </li>


        <li data-noteid="2" data-navigate="view" data-view-port="#note-views" data-view-animation="push">
          <div class="left">

            <div class="checkbox check-warning no-margin">
              <input id="qncheckbox3" type="checkbox" value="1">
              <label for="qncheckbox3"></label>
            </div>


            <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

          </div>

          <div class="right pull-right">

            <span class="date">12/12/14</span>
            <a href="social.html#"><i class="fa fa-chevron-right"></i></a>

          </div>

        </li>


        <li data-noteid="3" data-navigate="view" data-view-port="#note-views" data-view-animation="push">
          <div class="left">

            <div class="checkbox check-warning no-margin">
              <input id="qncheckbox4" type="checkbox" value="1">
              <label for="qncheckbox4"></label>
            </div>


            <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

          </div>

          <div class="right pull-right">

            <span class="date">12/12/14</span>
            <a href="social.html#"><i class="fa fa-chevron-right"></i></a>

          </div>

        </li>


        <li data-noteid="4" data-navigate="view" data-view-port="#note-views" data-view-animation="push">
          <div class="left">

            <div class="checkbox check-warning no-margin">
              <input id="qncheckbox5" type="checkbox" value="1">
              <label for="qncheckbox5"></label>
            </div>


            <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

          </div>

          <div class="right pull-right">

            <span class="date">12/12/14</span>
            <a href="social.html#"><i class="fa fa-chevron-right"></i></a>

          </div>

        </li>

      </ul>
    </div>

    <div class="view note" id="quick-note">
      <div>
        <ul class="toolbar">
          <li><a href="social.html#" class="close-note-link" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="pg-arrow_left"></i></a>
          </li>
          <li><a href="social.html#" class="Bold"><i class="fa fa-bold"></i></a>
          </li>
          <li><a href="social.html#" class="Italic"><i class="fa fa-italic"></i></a>
          </li>
          <li><a href="social.html#" class=""><i class="fa fa-link"></i></a>
          </li>
        </ul>
        <div class="body">
          <div>
            <div class="top">
              <span>21st april 2014 2:13am</span>
            </div>
            <div class="content">
              <div class="quick-note-editor full-width full-height js-input" contenteditable="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="tab-pane fade no-padding" id="quickview-alerts">
  <div class="view-port clearfix" id="alerts">

    <div class="view bg-white">

      <div class="navbar navbar-default navbar-sm">
        <div class="navbar-inner">

          <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
            <i class="pg-more"></i>
          </a>

          <div class="view-heading">
            Notications
          </div>

          <a href="social.html#" class="inline action p-r-10 pull-right link text-master">
            <i class="pg-search"></i>
          </a>

        </div>
      </div>


      <div data-init-list-view="ioslist" class="list-view boreded no-top-border"><h2 class="list-view-fake-header">
        Sever Status
      </h2>

        <div class="scroll-wrapper list-view-wrapper" style="position: absolute;"><div class="list-view-wrapper scroll-content" data-ios="false" style="margin-bottom: 0px; margin-right: 0px; height: 100px;"><div class="list-view-group-container">

          <div class="list-view-group-header text-uppercase">
            Calendar
          </div>

          <ul>

            <li class="alert-list">

              <a href="javascript:;" class="" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                <p class="col-xs-height col-middle">
                  <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
                </p>
                <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
                  <span class="text-master">David Nester Birthday</span>
                </p>
                <p class="p-r-10 col-xs-height col-middle fs-12 text-right">
                  <span class="text-warning">Today <br></span>
                  <span class="text-master">All Day</span>
                </p>
              </a>


            </li>


            <li class="alert-list">

              <a href="social.html#" class="" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                <p class="col-xs-height col-middle">
                  <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
                </p>
                <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
                  <span class="text-master">Meeting at 2:30</span>
                </p>
                <p class="p-r-10 col-xs-height col-middle fs-12 text-right">
                  <span class="text-warning">Today</span>
                </p>
              </a>

            </li>

          </ul>
        </div><div class="list-view-group-container">

          <div class="list-view-group-header text-uppercase">
            Social
          </div>

          <ul>

            <li class="alert-list">

              <a href="javascript:;" class="p-t-10 p-b-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                <p class="col-xs-height col-middle">
                  <span class="text-complete fs-10"><i class="fa fa-circle"></i></span>
                </p>
                <p class="p-l-10 col-xs-height col-middle col-xs-12 overflow-ellipsis fs-12">
                  <span class="text-master link">Jame Smith commented on your status<br></span>
                  <span class="text-master">“Perfection Simplified - Company Revox"</span>
                </p>
              </a>

            </li>


            <li class="alert-list">

              <a href="javascript:;" class="p-t-10 p-b-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                <p class="col-xs-height col-middle">
                  <span class="text-complete fs-10"><i class="fa fa-circle"></i></span>
                </p>
                <p class="p-l-10 col-xs-height col-middle col-xs-12 overflow-ellipsis fs-12">
                  <span class="text-master link">Jame Smith commented on your status<br></span>
                  <span class="text-master">“Perfection Simplified - Company Revox"</span>
                </p>
              </a>

            </li>

          </ul>
        </div><div class="list-view-group-container">

          <div class="list-view-group-header text-uppercase">
            Sever Status
          </div>

          <ul>

            <li class="alert-list">

              <a href="social.html#" class="p-t-10 p-b-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                <p class="col-xs-height col-middle">
                  <span class="text-danger fs-10"><i class="fa fa-circle"></i></span>
                </p>
                <p class="p-l-10 col-xs-height col-middle col-xs-12 overflow-ellipsis fs-12">
                  <span class="text-master link">12:13AM GTM, 10230, ID:WR174s<br></span>
                  <span class="text-master">Server Load Exceeted. Take action</span>
                </p>
              </a>

            </li>

          </ul>
        </div></div><div class="scroll-element scroll-x"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar"></div></div></div></div>



      </div>

    </div>

  </div>
</div>

<div class="tab-pane fade in active no-padding" id="quickview-chat">
<div class="view-port clearfix" id="chat">
<div class="view bg-white">

<div class="navbar navbar-default">
  <div class="navbar-inner">

    <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
      <i class="pg-plus"></i>
    </a>

    <div class="view-heading">
      Chat List
      <div class="fs-11">Show All</div>
    </div>

    <a href="social.html#" class="inline action p-r-10 pull-right link text-master">
      <i class="pg-more"></i>
    </a>

  </div>
</div>

<div data-init-list-view="ioslist" class="list-view boreded no-top-border"><h2 class="list-view-fake-header">
  a</h2>
<div class="scroll-wrapper list-view-wrapper" style="position: absolute;"><div class="list-view-wrapper scroll-content scroll-scrolly_visible" data-ios="false" style="margin-bottom: 0px; margin-right: 0px; height: 256px;"><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">
    a</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" src="assets/img/profiles/1.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">ava flores</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">b</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" src="assets/img/profiles/2.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">bella mccoy</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" src="assets/img/profiles/3.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">bob stephens</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">c</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">carole roberts</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">christopher perez</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">d</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">danielle fletcher</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" src="assets/img/profiles/7.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">david sutton</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">e</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">earl hamilton</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/9x.jpg" data-src="assets/img/profiles/9.jpg" src="assets/img/profiles/9x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">elaine lawrence</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" src="assets/img/profiles/1x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">ellen grant</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" src="assets/img/profiles/2x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">erik taylor</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" src="assets/img/profiles/3x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">everett wagner</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">f</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">freddie gomez</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">g</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">glen jensen</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">gwendolyn walker</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">j</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" src="assets/img/profiles/7x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">janet romero</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">k</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">kim martinez</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">l</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/9x.jpg" data-src="assets/img/profiles/9.jpg" src="assets/img/profiles/9x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">lawrence white</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" src="assets/img/profiles/1x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">leroy bell</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" src="assets/img/profiles/2x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">letitia carr</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" src="assets/img/profiles/3x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">lucy castro</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">m</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">mae hayes</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">marilyn owens</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">marlene cole</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" src="assets/img/profiles/7x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">marsha warren</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">marsha dean</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/9x.jpg" data-src="assets/img/profiles/9.jpg" src="assets/img/profiles/9x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">mia diaz</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">n</div>
  <ul>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" src="assets/img/profiles/1x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">noah elliott</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">p</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" src="assets/img/profiles/2x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">phyllis hamilton</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">r</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" src="assets/img/profiles/3x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">raul rodriquez</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">rhonda barnett</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">roberta king</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">s</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">scott armstrong</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" src="assets/img/profiles/7x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">sebastian austin</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">sofia davis</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">t</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/9x.jpg" data-src="assets/img/profiles/9.jpg" src="assets/img/profiles/9x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">terrance young</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" src="assets/img/profiles/1x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">theodore woods</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" src="assets/img/profiles/2x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">todd wood</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>


    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" src="assets/img/profiles/3x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">tommy jenkins</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div><div class="list-view-group-container">
  <div class="list-view-group-header text-uppercase">w</div>
  <ul>

    <li class="chat-user-list clearfix">
      <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="social.html#">
<span class="col-xs-height col-middle">
<span class="thumbnail-wrapper d32 circular bg-success">
<img width="34" height="34" alt="" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg" class="col-top">
</span>
</span>
        <p class="p-l-10 col-xs-height col-middle col-xs-12">
          <span class="text-master">wilma hicks</span>
          <span class="block text-master hint-text fs-12">Hello there</span>
        </p>
      </a>
    </li>

  </ul>
</div></div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="width: 89px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="height: 22px; top: 0px;"></div></div></div></div>
















</div>
</div>

<div class="view chat-view bg-white clearfix">

  <div class="navbar navbar-default">
    <div class="navbar-inner">
      <a href="javascript:;" class="link text-master inline action p-l-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
        <i class="pg-arrow_left"></i>
      </a>
      <div class="view-heading">
        John Smith
        <div class="fs-11 hint-text">Online</div>
      </div>
      <a href="social.html#" class="link text-master inline action p-r-10 pull-right ">
        <i class="pg-more"></i>
      </a>
    </div>
  </div>


  <div class="chat-inner" id="my-conversation">

    <div class="message clearfix">
      <div class="chat-bubble from-me">
        Hello there
      </div>
    </div>


    <div class="message clearfix">
      <div class="profile-img-wrapper m-t-5 inline">
        <img class="col-top" width="30" height="30" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
      </div>
      <div class="chat-bubble from-them">
        Hey
      </div>
    </div>


    <div class="message clearfix">
      <div class="chat-bubble from-me">
        Did you check out Pages framework ?
      </div>
    </div>


    <div class="message clearfix">
      <div class="chat-bubble from-me">
        Its an awesome chat
      </div>
    </div>


    <div class="message clearfix">
      <div class="profile-img-wrapper m-t-5 inline">
        <img class="col-top" width="30" height="30" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
      </div>
      <div class="chat-bubble from-them">
        Yea
      </div>
    </div>

  </div>


  <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
    <div class="row">
      <div class="col-xs-1 p-t-15">
        <a href="social.html#" class="link text-master"><i class="fa fa-plus-circle"></i></a>
      </div>
      <div class="col-xs-8 no-padding">
        <input type="text" class="form-control chat-input" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something">
      </div>
      <div class="col-xs-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
        <a href="social.html#" class="link text-master"><i class="pg-camera"></i></a>
      </div>
    </div>
  </div>

</div>

</div>
</div>
</div>
</div>
