

/**
 *Font Awesome Fonts
 */
.email-wrapper .email-list{
  width: 100%!important;
}
.page-container .page-content-wrapper .content{
  padding-top:0px!important;
  padding-bottom: 0px!important;
}
body.fixed-header .header{
  background-color: #3887be!important;
}
.page-container .page-content-wrapper{
  padding-top: 60px!important;
}
.jumbotron{
  background-color: #212A30!important;
  color:#fff!important;
}
.header .search-link{
  color: #fff!important;
}
.header a{
  color: #fff!important;
}
.email-wrapper .email-list .list-view-fake-header, .email-wrapper .email-list .list-view-group-header{
  background: #fff!important;
  border-bottom-color: #eee!important;
  height: 70px!important;
  color: rgba(33, 42, 48, 1)!important;
  text-transform: capitalize!important;
  font-size: 15px!important;
  padding-left: 0px!important;
  padding-top: 25px!important;
  text-align: center;
}
.list-view-group-container{
  padding: 70px 0 0 0!important;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  /*eaeaea*/
  border-left: none;
  border-right: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(33, 42, 48, 0.09);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/*TODO Cover page da pagina principal. Deixar com imagem ou deixar somente preto*/
.jumbotron .cover{
  background-image: url(../assets/img/social/cover.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.jumbotron .cover:after {
  background-image: url("../assets/img/linear_gradient.png");
  background-repeat: repeat-x;
  bottom: 0;
  content: " ";
  background-color: #142736;
  height: 270px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.email-wrapper .email-list .item{
  border-bottom: none!important;
  border-top: 1px solid rgba(213, 218, 219, 0.7);
}

.list-view li{
  cursor:auto!important;
}


.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

.controls{
  display: inline-block;
  padding-left: 50px;
  padding-top: 10px;
  visibility: none;
}
.well.well-small{
  background-color: #8FB8D9;
}


.modal-backdrop {
  z-index: -1!important;
}



.sidebar.modal-content{
  background-color: #F7F7F7!important;
}
.modal .modal-body{
  padding: 0px!important;
}
.modal-open .modal{
  overflow-y: hidden!important;
}

.post {
  display: block;
  height: 100%;
  overflow-y: auto;
}.post .user-profile-pic-wrapper {
   display: inline-block;
   float: left;
   margin-right: 16px;
 }.user-profile-pic-normal {
    border-radius: 100px 100px 100px 100px;
    height: 35px;
    overflow: hidden;
    width: 35px;
  }img {
     vertical-align: middle;
   }.post .info-wrapper {
      display: inline-block;
      float: left;
      width: 80%;
    }.post .username {
       display: block;
       font-size: 14px;
       margin-bottom: 5px;
     }.post .dark-text {
        color: #2a2e36;
      }.post .info {
         display: block;
       }.post .more-details {
          display: block;
          float: left;
        }.post .post-links {
           margin: 4px 0 0;
           list-style: none;
           font-size: 11px;
           padding: 0;
         }
ul>li {
  padding-left: 6px;
  line-height: 20px;
}
.post .post-links li {
  display: inline;
  float: left;
  position: relative;
  padding-left: 0px;
  padding-right: 8px;
}.post .action-bar {
   display: block;
   list-style: none;
   margin: 13px 0 37px;
   font-size: 12px;
   padding: 0;
 }.post .action-bar li {
    display: inline;
    float: left;
    position: relative;
    padding-right: 8px;
  }ul>li {
     padding-left: 6px;
     line-height: 20px;
   }.comments-section {
      margin-top: 12px;
    }



