<div class="jumbotron no-margin no-border" data-pages="parallax">
  <div class="cover"></div>
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner" style="transform: translateY(0px); opacity: 1;">




      <div class="item no-border bg-transparent full-width" data-social="item" style=" left: 0px; top: 0px;">

        <div class="container-fluid p-t-30 p-b-30 ">
          <div class="row">
            <div class="col-md-4">
              <div class="container-xs-height">
                <div class="row-xs-height">
                  <div class="social-user-profile col-xs-height text-center col-top">
                    <div class="thumbnail-wrapper d48 circular bordered b-white">
                      <img alt="Avatar" width="55" height="55" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg">
                    </div>
                    <br>
                    <i class="fa fa-check-circle text-success fs-16 m-t-10"></i>
                  </div>
                  <div class="col-xs-height p-l-20">
                    <h3 class="no-margin text-master-light">{{username}}</h3>
                    <p class="no-margin fs-16">is excited about the new pages design framework</p>
                    <p class="hint-text m-t-5 small">San Fransisco Bay | CEO at Pages.inc</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <p class="no-margin fs-16">Hi My Name is David Nester, &amp; heres my new pages user profile page</p>
              <p class="hint-text m-t-5 small">I love reading people's about page especially those who are in the same industry as me.</p>
            </div>
            <div class="col-md-4">
              <p class="m-b-5 small">1,435 Mutual Friends</p>
              <ul class="list-unstyled ">
                <li class="m-r-10">
                  <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                    <a ui-sref="main.profile({username:'maria'})">
                      <img width="35" height="35" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="Profile Image" src="assets/img/profiles/1.jpg">
                    </a>

                  </div>
                </li>
                <li>
                  <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                    <a ui-sref="main.profile({username:'thiago'})">
                      <img width="35" height="35" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" alt="Profile Image" src="assets/img/profiles/2.jpg">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                    <a ui-sref="main.profile({username:'james'})">
                      <img width="35" height="35" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" alt="Profile Image" src="assets/img/profiles/3.jpg">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                    <img width="35" height="35" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" alt="Profile Image" src="assets/img/profiles/4.jpg">
                  </div>
                </li>
                <li>
                  <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                    <a ui-sref="main.profile({username:'carlos'})">
                      <img width="35" height="35" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" alt="Profile Image" src="assets/img/profiles/5.jpg">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                    <a ui-sref="main.profile({username:'leopoldo'})">
                      <img width="35" height="35" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" alt="Profile Image" src="assets/img/profiles/6.jpg">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                    <a ui-sref="main.profile({username:'miry'})">
                      <img width="35" height="35" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" alt="Profile Image" src="assets/img/profiles/7.jpg">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="thumbnail-wrapper d32 circular b-white">
                    <div class="bg-master text-center text-white"><span>+34</span>
                    </div>
                  </div>
                </li>
              </ul>
              <br>
              <p class="m-t-5 small">More friends</p>


              <!-- Button trigger modal -->
              <button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#modalFillIn">
                Popup
              </button>
              <!-- Button trigger modal -->
              <button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#modalSlideLeft">
                Left side
              </button>

              <button class="btn btn-primary btn-lg " ng-click="notifyO()">
                Notification
              </button>
            </div>
          </div>
        </div>

      </div>







    </div>
  </div>
</div>
