<!--<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">-->
  <!--<div class="container">-->
    <!--<div class="navbar-header">-->
      <!--<button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a href="/" class="navbar-brand">Ideas hunt</a>-->
    <!--</div>-->
    <!--<div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">-->
            <!--<a ng-href="{{item.link}}">{{item.title}}</a>-->
        <!--</li>-->
        <!--<li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>-->
      <!--</ul>-->

      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>-->
        <!--<li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>-->
        <!--<li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>-->
        <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>-->
        <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="header no-border ">
  <div class="pull-left full-height visible-sm visible-xs">

    <div class="sm-action-bar">
      <a href="form_layouts.html#" class="btn-link toggle-sidebar" data-toggle="sidebar">
        <span class="icon-set menu-hambuger"></span>
      </a>
    </div>

  </div>

  <div class="pull-right full-height visible-sm visible-xs">

    <div class="sm-action-bar">
      <a href="form_layouts.html#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
        <span class="icon-set menu-hambuger-plus"></span>
      </a>
    </div>

  </div>

  <div class=" pull-left sm-table">
    <div class="header-inner">
      <div class="brand inline">
        <a ui-sref="main.feed">
          <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
        </a>
      </div>


      <a href="form_layouts.html#" class="search-link" data-toggle="search" translate="index.header.search"> </a> </div>
  </div>

  <div class=" pull-right">
    <div class="header-inner">
      <a ui-sref="main.feed" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" ></a>
    </div>
  </div>
  <div class=" pull-right">

    <div class="visible-lg visible-md m-t-10">
      <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
        <span class="semi-bold text-master-light">David</span> <span class="text-master-light">Nest</span>
      </div>
      <div class="thumbnail-wrapper d32 circular inline m-t-5">
        <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
      </div>
    </div>

  </div>
</div>
