<ui-view ng-if="app.navbar.visible==false"></ui-view>

<div ng-class="{'page-content-wrapper full-height' : app.navbar.visible==true}" ng-if="app.navbar.visible==true">

<div ng-include="'components/navbar/navbar.html'" ng-if="app.navbar.visible==true"></div>

<div ng-include="'components/subheader/subheader.html'" ng-if="app.navbar.visible==true"></div>

<div ui-view="" ng-class="{'content full-height' : app.navbar.visible==true}"></div>

</div>


<div ng-include="'components/modals/leftbar.html'"></div>
<div ng-include="'components/modals/popup_post.html'"></div>




