<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
        <h3>Fllup makes it easy to know what your consumer wants and desire.</h3>
        <p>
          <small>
            Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
          </small>
        </p>
        <form id="form-register" class="p-t-15" role="form" ng-submit="register(form,'company')"  novalidate="novalidate">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>First Name</label>
                <input type="text" name="fname" placeholder="John" class="form-control" required="" aria-required="true">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>Last Names</label>
                <input type="text" name="lname" placeholder="Smith" class="form-control" required="" aria-required="true">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Pages User name</label>
                <input type="text" name="uname" placeholder="fllup.com/company (this can be changed later)" class="form-control" required="" aria-required="true">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Password</label>
                <input type="password" name="pass" placeholder="Minimum of 4 Charactors" class="form-control" required="" aria-required="true">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Email</label>
                <input type="email" name="email" placeholder="We will send loging details to you" class="form-control" required="" aria-required="true">
              </div>
            </div>
          </div>
          <div class="row m-t-10">
            <div class="col-md-6">
              <p>I agree to the <a href="#" class="text-info small">Pages Terms</a> and <a href="#" class="text-info small">Privacy</a>.</p>
            </div>
            <div class="col-md-6 text-right">
              <a href="#" class="text-info small">Help? Contact Support</a>
            </div>
          </div>
          <button class="btn btn-primary btn-cons m-t-10" type="submit">Create a new account</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
      <!--<h1>Sign up</h1>-->
    <!--</div>-->
    <!--<div class="col-sm-12">-->
      <!--<form class="form" name="form" ng-submit="register(form)" novalidate>-->

        <!--<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,-->
                                            <!--'has-error': form.name.$invalid && submitted }">-->
          <!--<label>Name</label>-->

          <!--<input type="text" name="name" class="form-control" ng-model="user.name"-->
                 <!--required/>-->
          <!--<p class="help-block" ng-show="form.name.$error.required && submitted">-->
            <!--A name is required-->
          <!--</p>-->
        <!--</div>-->

        <!--<div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,-->
                                            <!--'has-error': form.email.$invalid && submitted }">-->
          <!--<label>Email</label>-->

          <!--<input type="email" name="email" class="form-control" ng-model="user.email"-->
                 <!--required-->
                 <!--mongoose-error/>-->
          <!--<p class="help-block" ng-show="form.email.$error.email && submitted">-->
            <!--Doesn't look like a valid email.-->
          <!--</p>-->
          <!--<p class="help-block" ng-show="form.email.$error.required && submitted">-->
            <!--What's your email address?-->
          <!--</p>-->
          <!--<p class="help-block" ng-show="form.email.$error.mongoose">-->
            <!--{{ errors.email }}-->
          <!--</p>-->
        <!--</div>-->

        <!--<div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,-->
                                            <!--'has-error': form.password.$invalid && submitted }">-->
          <!--<label>Password</label>-->

          <!--<input type="password" name="password" class="form-control" ng-model="user.password"-->
                 <!--ng-minlength="3"-->
                 <!--required-->
                 <!--mongoose-error/>-->
          <!--<p class="help-block"-->
             <!--ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">-->
            <!--Password must be at least 3 characters.-->
          <!--</p>-->
          <!--<p class="help-block" ng-show="form.password.$error.mongoose">-->
            <!--{{ errors.password }}-->
          <!--</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<button class="btn btn-inverse btn-lg btn-login" type="submit">-->
            <!--Sign up-->
          <!--</button>-->
          <!--<a class="btn btn-default btn-lg btn-register" href="/login">-->
            <!--Login-->
          <!--</a>-->
        <!--</div>-->

        <!--<hr>-->
        <!--<div>-->
          <!--<a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">-->
            <!--<i class="fa fa-facebook"></i> Connect with Facebook-->
          <!--</a>-->
          <!--<a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">-->
            <!--<i class="fa fa-google-plus"></i> Connect with Google+-->
          <!--</a>-->
          <!--<a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">-->
            <!--<i class="fa fa-twitter"></i> Connect with Twitter-->
          <!--</a>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
  <!--<hr>-->
<!--</div>-->
