<div class="page-content-wrapper">

<div class="content">
<div class="social-wrapper">
<div class="social " data-pages="social">

<div class="jumbotron" data-pages="parallax" data-social="cover">
  <div class="cover-photo" style="transform: translateY(21.9px); background-image: url(http://pages.revox.io/latest/assets/img/social/cover.png);">

  </div>
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner" style="transform: translateY(12.41px); opacity: 1;">
      <div class="pull-bottom bottom-left m-b-40">
        <h5 class="text-white no-margin">welcome to pages social</h5>
        <h1 class="text-white no-margin"><span class="semi-bold">social</span> cover</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
<div class="feed">

<div class="day" data-social="day" style="position: relative; width: 940px; height: 1365px;">

<div class="item no-border bg-transparent full-width" data-social="item" style="position: absolute; left: 0px; top: 0px;">

  <div class="container-fluid p-t-30 p-b-30 ">
    <div class="row">
      <div class="col-md-4">
        <div class="container-xs-height">
          <div class="row-xs-height">
            <div class="social-user-profile col-xs-height text-center col-top">
              <div class="thumbnail-wrapper d48 circular bordered b-white">
                <img alt="Avatar" width="55" height="55" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg">
              </div>
              <br>
              <i class="fa fa-check-circle text-success fs-16 m-t-10"></i>
            </div>
            <div class="col-xs-height p-l-20">
              <h3 class="no-margin">{{username}}</h3>
              <p class="no-margin fs-16">is excited about the new pages design framework</p>
              <p class="hint-text m-t-5 small">San Fransisco Bay | CEO at Pages.inc</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p class="no-margin fs-16">Hi My Name is David Nester, &amp; heres my new pages user profile page</p>
        <p class="hint-text m-t-5 small">I love reading people's about page especially those who are in the same industry as me.</p>
      </div>
      <div class="col-md-4">
        <p class="m-b-5 small">1,435 Mutual Friends</p>
        <ul class="list-unstyled ">
          <li class="m-r-10">
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
              <img width="35" height="35" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="Profile Image" src="assets/img/profiles/1.jpg">
            </div>
          </li>
          <li>
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
              <img width="35" height="35" data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" alt="Profile Image" src="assets/img/profiles/2.jpg">
            </div>
          </li>
          <li>
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
              <img width="35" height="35" data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" alt="Profile Image" src="assets/img/profiles/3.jpg">
            </div>
          </li>
          <li>
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
              <img width="35" height="35" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" alt="Profile Image" src="assets/img/profiles/4.jpg">
            </div>
          </li>
          <li>
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
              <img width="35" height="35" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" alt="Profile Image" src="assets/img/profiles/5.jpg">
            </div>
          </li>
          <li>
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
              <img width="35" height="35" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" alt="Profile Image" src="assets/img/profiles/6.jpg">
            </div>
          </li>
          <li>
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
              <img width="35" height="35" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" alt="Profile Image" src="assets/img/profiles/7.jpg">
            </div>
          </li>
          <li>
            <div class="thumbnail-wrapper d32 circular b-white">
              <div class="bg-master text-center text-white"><span>+34</span>
              </div>
            </div>
          </li>
        </ul>
        <br>
        <p class="m-t-5 small">More friends</p>
      </div>
    </div>
  </div>

</div>


<div class="item col2 padding-20" data-social="item" style="position: absolute; left: 0px; top: 187px;">
  <form class="simform no-margin" autocomplete="off" data-social="status">
    <div class="status-form-inner">
      <ol class="questions">
        <li class="current">
<span>
<label for="status-q1">What's on your mind?</label>
</span>
          <input id="status-q1" name="q1" type="text">
        </li>
        <li>
<span>
<label for="status-q2">What are you feeling?</label>
</span>
          <input id="status-q2" name="q2" type="text">
        </li>
        <li>
<span>
<label for="status-q3">What's your location?</label>
</span>
          <input id="status-q3" name="q3" type="text">
        </li>
        <li>
<span>
<label for="status-q4">Who are you with?</label>
</span>
          <input id="status-q4" name="q4" type="text">
        </li>
      </ol>

      <button class="submit" type="submit">Send answers</button>
      <div class="controls">
        <button class="next show"></button>
        <div class="progress"></div>
<span class="number">
<span class="number-current">1</span>
<span class="number-total">4</span>
</span>
        <span class="error-message"></span>
      </div>

    </div>

    <span class="final-message"></span>
  </form>

</div>


<div class="item status col2" data-social="item" style="position: absolute; left: 0px; top: 302px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <h5>David Nester updated his status
    <span class="hint-text">few seconds ago</span></h5>
  <h2>Earned my first salary bonus for the best design of the year award.</h2>
  <ul class="reactions">
    <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
    </li>
    <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
    </li>
  </ul>
</div>


<div class="item share share-self col1" data-social="item" style="position: absolute; left: 640px; top: 187px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <div class="item-header clearfix">
    <div class="user-pic">
      <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5.jpg">
    </div>
    <h5>Shannon Williams</h5>
    <h6>Shared a photo
      <span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span>
    </h6>
  </div>
  <div class="item-description">
    <p>Inspired by : good design is obvious, great design is transparent</p>
    <div class="via">via themeforest</div>
  </div>
  <div class="item-content">
    <ul class="buttons ">
      <li>
        <a href="#"><i class="fa fa-expand"></i>
        </a>
      </li>
      <li>
        <a href="#"><i class="fa fa-heart-o"></i>
        </a>
      </li>
    </ul>
    <img alt="Social post" src="assets/img/social-post-image.png">
  </div>
  <div class="item-footer clearfix">
    <div class="time">few seconds ago</div>
    <ul class="reactions">
      <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
      </li>
      <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
      </li>
    </ul>
  </div>
</div>


<div class="item share share-self col1" data-social="item" style="position: absolute; left: 0px; top: 488px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <div class="item-header clearfix">
    <div class="user-pic">
      <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8.jpg">
    </div>
    <h5>Jeff Curtis</h5>
    <h6>Shared a Tweet
      <span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span>
    </h6>
  </div>
  <div class="item-description">
    <p>What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. <a href="#">#quote</a> </p>
    <div class="via">via Twitter</div>
  </div>
</div>


<div class="item share share-self col1" data-social="item" style="position: absolute; left: 320px; top: 488px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <div class="item-header clearfix">
    <div class="user-pic">
      <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4.jpg">
    </div>
    <h5>Andy Young</h5>
    <h6>Updated his status
      <span class="location semi-bold"><i class="icon-map"></i> NYC, New York</span>
    </h6>
  </div>
  <div class="item-description">
    <p>What a lovely day! I think I should go and play outside.</p>
  </div>
</div>


<div class="item share share-other col1" data-social="item" style="position: absolute; left: 640px; top: 546px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <div class="item-content">
    <ul class="buttons ">
      <li>
        <a href="#"><i class="fa fa-expand"></i>
        </a>
      </li>
      <li>
        <a href="#"><i class="fa fa-heart-o"></i>
        </a>
      </li>
    </ul>
    <img alt="Quote" src="assets/img/social/quote.jpg">
  </div>
  <div class="item-description">
    <p>Like if you agree</p>
  </div>
  <div class="item-footer clearfix">
    <div class="time">few seconds ago</div>
    <ul class="reactions">
      <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
      </li>
      <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
      </li>
    </ul>
  </div>
  <div class="item-header clearfix">
    <div class="user-pic">
      <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" src="assets/img/profiles/7x.jpg">
    </div>
    <h5>Tracy Brooks</h5>
    <h6>Shared a photo on your wall</h6>
  </div>
</div>


<div class="item share share-other col1" data-social="item" style="position: absolute; left: 320px; top: 637px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <div class="item-content">
    <ul class="buttons ">
      <li>
        <a href="#"><i class="fa fa-expand"></i>
        </a>
      </li>
      <li>
        <a href="#"><i class="fa fa-heart-o"></i>
        </a>
      </li>
    </ul>
    <img alt="Person photo" src="assets/img/social/person-1.jpg">
  </div>
  <div class="item-description">
    <p><a href="#">#TBT</a> :D</p>
  </div>
  <div class="item-footer clearfix">
    <div class="time">few seconds ago</div>
    <ul class="reactions">
      <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
      </li>
      <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
      </li>
    </ul>
  </div>
  <div class="item-header clearfix">
    <div class="user-pic">
      <img alt="Avatar" width="33" height="33" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar_small2x.jpg">
    </div>
    <h5>David Nester</h5>
    <h6>Shared a link on your wall</h6>
  </div>
</div>


<div class="item share share-self col1" data-social="item" style="position: absolute; left: 0px; top: 678px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <div class="item-header clearfix">
    <div class="user-pic">
      <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg">
    </div>
    <h5>Nathaniel Hamilton</h5>
    <h6>Shared a Tweet
      <span class="location semi-bold"><i class="icon-map"></i> NYC, New York</span>
    </h6>
  </div>
  <div class="item-description">
    <p>Testing can show the presense of bugs, but not their absence.</p>
    <div class="via">via Twitter</div>
  </div>
</div>


<div class="item share share-self col1" data-social="item" style="position: absolute; left: 0px; top: 848px;">
  <div class="circle" data-toggle="tooltip" title="" data-original-title="Label">
  </div>
  <div class="item-header clearfix">
    <div class="user-pic">
      <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg">
    </div>
    <h5>Nathaniel Hamilton</h5>
    <h6>Shared a Tweet
      <span class="location semi-bold"><i class="icon-map"></i> NYC, New York</span>
    </h6>
  </div>
  <div class="item-description">
    <p>There is nothing new under the sun, but there are lots of old things we don't know yet.</p>
    <div class="via">via Twitter</div>
  </div>
</div>


<div class="item share share-self col1" data-social="item" style="position: absolute; left: 0px; top: 1018px;">
  <div class="item-header ">
    <h5 class="text-complete pull-left fs-12">News <i class="fa fa-circle text-complete fs-11"></i></h5>
    <div class="pull-right small hint-text">
      5,345 <i class="fa fa-comment-o"></i>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="item-description">
    <h3>Ebola outbreak: Clinical drug trials to start next month as death toll mounts</h3>
  </div>
  <div class="item-footer clearfix">
    <div class="pull-left">via <span class="text-complete">CNN</span>
    </div>
    <div class="pull-right hint-text">
      Apr 23
    </div>
    <div class="clearfix"></div>
  </div>
</div>


<div class="item share share-self col1" data-social="item" style="position: absolute; left: 640px; top: 1130px;">
  <div class="item-header clearfix">
    <h5 class="text-success pull-left fs-12">Stock Market <i class="fa fa-circle text-success fs-11"></i></h5>
    <div class="pull-right small hint-text">
      5,345 <i class="fa fa-comment-o"></i>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="item-description">
    <h5 class="hint-text no-margin">Apple Inc.</h5>
    <h5 class="small hint-text no-margin">NASDAQ: AAPL - Nov 13 8:37 AM ET</h5>
    <h3>111.25 <span class="text-success"><i class="fa fa-sort-up small text-success"></i> 0.15 (0.13%)</span></h3>
  </div>
  <div class="item-footer clearfix">
    <div class="pull-left">by <span class="text-success">John Smith</span>
    </div>
    <div class="pull-right hint-text">
      Apr 23
    </div>
    <div class="clearfix"></div>
  </div>
</div>

</div>

</div>

</div>

</div>

</div>
</div>

</div>

