

<div class="modal fade slide-right" id="modalSlideLeft" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content-wrapper">
      <div class="sidebar modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-middle">

              <div class="post col-md-12">
                <div class="user-profile-pic-wrapper">
                  <div class="user-profile-pic-normal">
                    <img width="35" height="35" src="../../assets/img/profiles/1.jpg" data-src="../../assets/img/profiles/1.jpg"
                         data-src-retina="../../assets/img/profiles/1.jpg" alt="">
                  </div>
                </div>
                <div class="info-wrapper">
                  <div class="username">
                    <span class="dark-text">John Drake</span> in <span class="dark-text">nervada hotspot</span>
                  </div>
                  <div class="info">
                    Great design concepts by <span class="dark-text">John Smith</span> and his crew! Totally owned the WCG!, Best of luck for your future endeavours,
                    Special thanks for <span class="dark-text">Jane smith</span> for her motivation ;)
                  </div>
                  <div class="more-details">
                    <ul class="post-links">
                      <li><a href="#" class="muted">2 Minutes ago</a></li>
                      <li><a href="#" class="text-info">Collapse</a></li>
                      <li><a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a></li>
                      <li><a href="#" class="text-warning"><i class="fa fa-star"></i> Favourited</a></li>
                      <li><a href="#" class="muted">More</a></li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                  <ul class="action-bar">
                    <li><a href="#" class="muted"><i class="fa fa-comment"></i> 1584</a> Comments</li>
                    <li><a href="#" class="text-error"><i class="fa fa-heart"></i> 47k</a> likes</li>
                  </ul>
                  <div class="clearfix"></div>


                  <div class="post comments-section" ng-repeat="item in posts">

                    <div class="user-profile-pic-wrapper">
                      <div class="user-profile-pic-normal">
                        <img width="35" height="35" src="{{item.src}}" alt="">
                      </div>
                    </div>
                    <div class="info-wrapper">
                      <div class="username">
                        <span class="dark-text">{{item.username}}</span>
                      </div>
                      <div class="info" ng-bind-html="item.text">
                        <!--Congrats, <span class="dark-text">{{item.username}}</span> &amp; <span class="dark-text">Jane Smith</span>-->
                      </div>
                      <div class="more-details">
                        <ul class="post-links">
                          <li><a href="#" class="muted">{{item.createAt}}</a></li>
                          <li><a href="#" class="text-error"><i class="fa fa-heart"></i> Like</a></li>
                          <li><a href="#" class="muted">Details</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="col-md-12 no-padding">
                    <div class="tiles white">
                      <textarea rows="3" class="form-control user-status-box post-input" placeholder="Whats on your mind?"></textarea>
                    </div>
                    <div class="tiles grey padding-10">
                      <div class="pull-left">
                        <button class="btn btn-default btn-sm btn-small" type="button"><i class="fa fa-camera"></i></button>
                        <button class="btn btn-default btn-sm btn-small" type="button"><i class="fa fa-map-marker"></i></button>
                      </div>
                      <div class="pull-right">
                        <button class="btn btn-primary btn-sm btn-small" type="button">POST</button>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="clearfix"></div>
            </div>



            <!--<h5 class="text-primary ">Before you <span class="semi-bold">proceed</span>, you have to login to make the necessary changes</h5>-->
            <!--<br>-->
            <!--<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>-->
            <!--<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>-->





          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</div>

