<div class="modal fade fill-in" id="modalFillIn" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="pg-close"></i>
  </button>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-left p-b-5"><span class="semi-bold">Porrawn letter</span> signup</h5>
      </div>
      <div class="modal-body">
        <!--<div class="row">-->
          <!--<div class="col-md-9">-->
            <!--<input type="text" placeholder="Your email address here" class="form-control input-lg" id="icon-filter" name="icon-filter">-->
          <!--</div>-->
          <!--<div class="col-md-3 text-center">-->
            <!--<button type="button" class="btn btn-primary btn-lg btn-large fs-15">Sign up</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<p class="text-right hinted-text p-t-10 p-r-10">What is it ? Terms and conditions</p>-->
        <div class="col-md-12 no-padding">
          <div class="tiles white">
            <textarea rows="3" class="form-control user-status-box post-input" placeholder="Whats on your mind?"></textarea>
          </div>
          <div class="tiles grey padding-10">
            <div class="pull-left">
              <button class="btn btn-default btn-sm btn-small" type="button"><i class="fa fa-camera"></i></button>
              <button class="btn btn-default btn-sm btn-small" type="button"><i class="fa fa-map-marker"></i></button>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary btn-sm btn-small" type="button">POST</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
